<div class="card mt-4 mt-md-0">
    <h5 class="card-header bg-dark text-white">Summary</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between">
            <div><b>Total</b></div>
            <span><b>{{ cart.total }} €</b></span>
        </li>
    </ul>
    <div class="card-body">
        <a href="#" class="btn btn-warning w-100">Checkout</a>
    </div>
</div>