<header>
    <div class="user-controls">
        <a href="{{ path('product_list') }}">Products list</a>
        <a href="{{ path('category_list') }}">Categories list</a>
        <a href="{{ path('index_frontend') }}">Back to shop</a>
    </div>
</header>