<header>
    <nav>
        <ul>
            {{ knp_menu_render('main') }}
        </ul>
        <ul>
            <li>
                <a href="{{ path('cart_show') }}" class="btn btn-light">
                    Cart
                </a>
            </li>
        </ul>
    </nav>
</header>